

body  {
        background-image: url("../images/urban-phila-topo.jpg");
        background-size: 100%; 
}

.jumbotron  {
    margin-top: 6px;
    background-image: url("../images/locomotive.jpg");
    background-size: 100%; 
   
}

.dispaly .lead {
    font-weight: 700;
    line-height: .4em; 
}

.panel {
    background-color: #c6b890;
}

.sample {
    font-style: italic;
    color: gray;
}

.t-container {
    background-color: #fff;
}

.addTrainHeading {
    color: #a49872;
    font-weight: 700;
    line-height: .3em;
}
